/* Colors:
    Header: #FCF5EE
    Body:   #FBE8E7
    Footer: #F7DDDE
    Alt:    #FFC4D0*/

    body{
        background-color: #FBE8E7;
    }
    section.cart{
        background-color: #F7DDDE;
    }
    header{
        background-color: #FFC4D0;
    }
    .productos{
        background-color: #FBE8E7;
    }
    .card{
        background-color: #FCF5EE;
    }
    .agotado{
        color: #cc393d;
    }
    .personalData{
        background-color:  #FBE8E7 ;
    }
    .cartProds{
        background-color:  #FBE8E7 ;
    }